if SHIELD_SPLITERGO_LEFT

config ZMK_KEYBOARD_NAME
    default "splitergo"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLITERGO_LEFT || SHIELD_SPLITERGO_RIGHT

    config ZMK_SPLIT
        default y

endif